<?xml version="1.0" encoding="UTF-8"?>
<packages>
  <!--<package id="7zip.install"/>-->
  <package id="git.install"/>
  <package id="python2"/>
  <package id="python3"/>
  <package id="rapidee"/>
  <package id="visualstudio2017community" packageParameters="--locale en-US"/>
  <package id="sublimetext3"/>
  <package id="firefox" packageParameters="l=en-US"/>
  <package id="paint.net"/>
  <package id="gimp"/>
  <package id="beyondcompare"/>
  <package id="beyondcompare-integration"/>
</packages>
